body {
  background: url("./images/renga.png");
}
html {
  scroll-behavior: smooth;
}

.header-list {
  font-size: 3vmin;
}

#name-container {
  text-align: center;
}
#name-japanese {
  font-size: 20vmin;
}

#name-english {
  font-size: 5vmin;
}

.my-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#univ-sentence {
  font-size: 3vmin;
}
#hobby-sentence {
  font-size: 3vmin;
}
#skill-sentence {
  font-size: 3vmin;
}

.content {
  display: flex;
}

.container {
  width: 80%;
  border-radius: 20px;
  background-color: #fff8dc;
  padding: 20px;
  margin: 50px;
}

.header {
  font-size: 6vmin;
}

#hob-line {
  background-color: #ffdddd;
}
#univ-line {
  background-color: #ddeeff;
}
#skill-line {
  background-color: #e3def1;
}
#quiz-line {
  background-color: #ddffdd;
}
.line {
  margin-top: 10px;
  border-top: 1px solid black;
}

.univ-img {
  width: 50%;
  height: auto;
}

#hobby-img {
  width: 50%;
  height: auto;
}
#skill-img {
  width: 50%;
  height: auto;
}
#quiz-img {
  width: 70%;
  height: auto;
}

.sentence {
  font-size: 2.5vmin;
}
.choice {
  flex-direction: column;
  display: flex;
}

.choice {
  width: 100%;
}
